.border-left-gray{
    border-left:  1px solid rgb(65, 65, 65) !important;
}

.text-gray{
    color: rgb(167, 166, 166) !important;
}

.bg-light-gray{
    background-color: rgb(65, 65, 65) !important;
}