.icon-button{
    width: 45px !important;
    height: 45px !important;
    border-radius: 100% !important;
    background-color: #2b333b !important;
    border: 0px !important
}

.icon-button:focus{
    box-shadow: none !important;
}