input{
    border-radius: 0 !important;
    border: 2px solid $primary !important;
    height: 40px !important;
}

input:focus{
    outline: none;
    box-shadow: none;
}

.searchbar, .searchbar:focus{
    background-color: black;
    border: none !important;
    height: 31px !important;
    box-shadow: none !important;
    color: $white;
}

.searchbar::placeholder{
    font-size: 14px;
}

.input-group{
    background-color:black !important;
    border-radius: 4px !important;
    border: 1px solid rgb(49, 49, 49) !important;
}

.message-box>input{
    background-color: #2b333b !important;
    height: 50px !important;
}

.message-box>input:focus{
    box-shadow: none !important;
}

.message-box>button{
    width: 40px !important;
    height: 40px !important;
    border-radius: 100% !important;
}